
@{
    ViewData["Title"] = "SetupService";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helperland | Set Up Cleaning Service</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/5602f8a8c9.js" crossorigin="anonymous"></script>

</head>
<body >


    <!-- nav starts -->
    @await Html.PartialAsync("FaqNav")
    <!-- nav ends -->
    <!-- header starts -->
    <header>

        <!-- set up service banner starts -->
        <div>
            <img src="/img/book-service-banner.jpg" id="banner" alt="">
        </div>
        <!-- set up service banner ends -->
        <!-- title of page starts -->
        <div class="text-center mt-4">
            <h1>Set up your cleaning service</h1>
        </div>
        <!-- title of page ends -->
        <!-- title bottom design starts -->
        <div class="title-bottom-design">
            <hr>
            <div class="text-center">
                <img src="/img/faq/separator.png" alt="">
            </div>
            <hr>
        </div>
        <!-- title bottom design ends -->

    </header>
    <!-- header ends -->
    <!-- main starts -->
    <main id="bookServiceMainTag">

        <!-- main section starts -->
        <section>
            <div id="setUpServiceMain">

                <!-- form section starts -->
                <div id="set-up-formdiv">

                    <!-- set up form steps -->
                    <div id="book-now-steps">
                        <div class="booknow_tab" id="setup-service" role="button" onclick="form1();">
                            <span><img src="/img/setup-service-white.png" alt=""></span>
                            <span id="form1Span">Setup Service</span>
                            <div class="downarrow" id="form1Down"></div>
                        </div>
                        <div class="booknow_tab disabled" id="schedule-service" onclick="form2();" role="button">
                            <span><img src="/img/schedule.png" alt="" id="form2Img"></span>
                            <span id="form2Span">Schedule & Plan</span>
                            <div class="downarrow" id="form2Down"></div>
                        </div>
                        <div class="booknow_tab" id="details-service" onclick="form3();" role="button">
                            <span><img src="/img/details.png" alt="" id="form3Img"></span>
                            <span id="form3Span">Your Details</span>
                            <div class="downarrow" id="form3Down"></div>
                        </div>
                        <div class="booknow_tab" id="payment-service" onclick="form4();" role="button">
                            <span><img src="/img/payment.png" alt="" id="form4Img"></span>
                            <span id="form4Span">Make Payment</span>
                            <div class="downarrow" id="form4Down"></div>
                        </div>
                    </div>
                    <!-- set up form steps ends -->

                    @await Html.PartialAsync("SetupServiceform")
                    @await Html.PartialAsync("ScheduleServiceform")

                    @await Html.PartialAsync("DetailServiceform")
                    @await Html.PartialAsync("BookServiceform")
                </div>
                <!-- form section ends -->
                <!-- payment summary and question starts -->
                <div id="booknow-side">
                    <div id="paymentSummary">
                        <div id="payment-questiondiv">
                            <!-- title starts -->
                            <div id="payment-title" class="flex-column">
                                Payment Summary
                            </div>
                            <!-- title ends -->
                            <!-- service time starts -->
                            <div id="service-time" class="flex-column">
                                <div id="timeandbed">
                                    <p><span class="paymentbill_date">Date</span> <span class="paymentbill_time">Time</span></p>
                                </div>

                                <b>Duration</b>
                                <div>
                                    <span>Basic</span>
                                    <span><span class="paymentbill_basic">0 </span> hrs</span>
                                </div>

                                <div class="d-none paymentbill_cabinet">
                                    <span>Inside cabinets <b>(extra)</b></span>
                                    <span>30 mins</span>
                                </div>

                                <div class="d-none paymentbill_fridge">
                                    <span>Inside fridge <b>(extra)</b></span>
                                    <span>30 mins</span>
                                </div>

                                <div class="d-none paymentbill_oven">
                                    <span>Inside oven <b>(extra)</b></span>
                                    <span>30 mins</span>
                                </div>

                                <div class="d-none paymentbill_laundry">
                                    <span>Inside laundry <b>(extra)</b></span>
                                    <span>30 mins</span>
                                </div>

                                <div class="d-none paymentbill_window">
                                    <span>Inside window <b>(extra)</b></span>
                                    <span>30 mins</span>
                                </div>

                                <div id="total-time">
                                    <span><b>Total Service Time</b></span>
                                    <span><b><span class="paymentbill_totalhours">0</span> hrs</b></span>
                                </div>
                            </div>
                            <!-- service time ends -->
                            <!-- cost strats -->
                            <div id="service-cost" class="flex-column">
                                <div>
                                    <span>Per cleaning</span>
                                    <span><b>&dollar;</b><b class="paymentbill_amount">0</b></span>
                                </div>

                                <!--<div>
                                    <span>Discount</span>
                                    <span><b>- &dollar;27</b></span>
                                </div>-->
                            </div>
                            <!-- cost ends -->
                            <!-- payment starts-->
                            <div id="service-pay" class="flex-column">
                                <div>
                                    <span id="total-pay">Total Payment</span>
                                    <span id="amount">&dollar;<span class="paymentbill_amount">0</span></span>
                                    
                                </div>
                                <!--
                                <div>
                                    <span>Effective Price</span>
                                    <span id="last-amount"><b class="paymentbill">&dollar;50.4</b></span>
                                </div>
                                    -->
                            </div>
                            <!-- payment ends -->

                            <p id="saveP"><span>*</span>You will save 20% according to §35a EStG.</p>

                            <!-- modal starts -->
                            <div id="call-modal">
                                <a href=""><i class="far fa-smile"></i> See what is always included</a>
                            </div>
                            <!-- modal ends -->

                        </div>

                        <div id="book-questions">
                            <div id="question-title">
                                <h3>Questions?</h3>
                            </div>

                            <!-- question main starts -->
                            <div id="question-main">
                                <div class="faq-qa" style="display: flex;">

                                    <a id="faq-q1" href="#faq-ans1" data-bs-toggle="collapse" style="font-size: 16px;color:#565656;">

                                        <div style="display: flex;">
                                            <div>
                                                <img id="faq-ar-1" class="faq_arrow_img" src="/img/faq/right-arrow.png" alt="">
                                            </div>

                                            <p>Which Helperland professional will come to my place?</p>
                                        </div>
                                    </a>
                                </div>
                                <div id="faq-ans1" class="collapse faq-ans">
                                    Helperland has a vast network of experienced, top-rated cleaners. Based on the time and date of your request, we work to assign the best professional available.Like working with a specific pro? Add them to your Pro Team from the mobile app and they'll be requested first for all future bookings.You will receive an email with details about your professional prior to your appointment.
                                </div>

                                <div class="faq-qa" style="display: flex;">

                                    <a id="faq-q2" href="#faq-ans2" data-bs-toggle="collapse" style="font-size: 16px;color:#565656;">
                                        <div style="display:flex">
                                            <div>
                                                <img id="faq-ar-2" class="faq_arrow_img" src="/img/faq/right-arrow.png" alt="">
                                            </div>
                                            <p>What's included in a cleaning?</p>
                                        </div>

                                    </a>
                                </div>
                                <div id="faq-ans2" class="collapse faq-ans">
                                    Bedroom, Living Room & Common Areas,Bathrooms,Kitchen,Extras
                                </div>

                                <div class="faq-qa" style="display: flex;">

                                    <a id="faq-q3" href="#faq-ans3" data-bs-toggle="collapse" style="font-size: 16px;color:#565656;">
                                        <div style="display:flex">
                                            <div>
                                                <img id="faq-ar-3" class="faq_arrow_img" src="/img/faq/right-arrow.png" alt="">
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</p>
                                        </div>

                                    </a>
                                </div>
                                <div id="faq-ans3" class="collapse faq-ans">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt, fringilla ante vitae, dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor.
                                </div>

                                <div id="for-more-help">
                                    <a href="">For more help</a>
                                </div>

                            </div>
                            <!-- question main ends -->

                        </div>
                    </div>

                </div>
                <!-- payment summary and question ends -->


            </div>
        </section>
        <!-- main section ends -->

        <div id="responsivePaySum">
            <button type="button" data-bs-toggle="modal" data-bs-target="#paymentSummaryModal">
                Payment Summary
            </button>
        </div>

        <!-- PS modal starts -->

        <div class="modal fade" id="paymentSummaryModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Payment Summary</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="modal-booknow-side">
                            <div id="modal-paymentSummary">
                                <div id="modal-payment-questiondiv">
                                    <!-- title starts -->
                                    <!-- <div id="payment-title" class="flex-column">
                                      Payment Summary
                                    </div> -->
                                    <!-- title ends -->
                                    <!-- service time starts -->
                                    <div id="modal-service-time" class="flex-column">
                                        <div id="modal-timeandbed">
                                            <p><span class="paymentbill_date">Date</span> <span class="paymentbill_time">Time</span></p>
                                        </div>

                                        <b>Duration</b>
                                        <div>
                                            <span>Basic</span>
                                            <span><span class="paymentbill_basic">0</span> hrs</span>
                                        </div>

                                        <div class="d-none paymentbill_cabinet">
                                            <span>Inside cabinets <b>(extra)</b></span>
                                            <span>30 mins</span>
                                        </div>

                                        <div class="d-none paymentbill_fridge">
                                            <span>Inside fridge <b>(extra)</b></span>
                                            <span>30 mins</span>
                                        </div>

                                        <div class="d-none paymentbill_oven">
                                            <span>Inside oven <b>(extra)</b></span>
                                            <span>30 mins</span>
                                        </div>

                                        <div class="d-none paymentbill_laundry">
                                            <span>Inside laundry <b>(extra)</b></span>
                                            <span>30 mins</span>
                                        </div>

                                        <div class="d-none paymentbill_window">
                                            <span>Inside window <b>(extra)</b></span>
                                            <span>30 mins</span>
                                        </div>


                                        <div id="modal-total-time">
                                            <span><b>Total Service Time</b></span>
                                            <span><b><span class="paymentbill_totalhours">0</span> hrs</b></span>
                                        </div>
                                    </div>
                                    <!-- service time ends -->
                                    <!-- cost strats -->
                                    <div id="modal-service-cost" class="flex-column">
                                        <div>
                                            <span>Per cleaning</span>
                                            <span><b>&dollar;</b><b class="paymentbill_amount">0</b></span>
                                        </div>
                                        <!--
                                        <div>
                                            <span>Discount</span>
                                            <span><b>- &dollar;27</b></span>
                                        </div>
                                            -->
                                    </div>
                                    <!-- cost ends -->
                                    <!-- payment starts-->
                                    <div id="modal-service-pay" class="flex-column">
                                        <div>
                                            <span id="total-pay">Total Payment</span>
                                            <span id="amount">&dollar;<span class="paymentbill_amount">0</span></span>
                                        </div>
                                        <!--
                                        <div>
                                            <span>Effective Price</span>
                                            <span id="last-amount"><b>&dollar;50.4</b></span>
                                        </div>
                                        -->
                                    </div>
                                    <!-- payment ends -->

                                    <p id="modal-saveP"><span>*</span>You will save 20% according to §35a EStG.</p>

                                    <!-- modal starts -->
                                    <div id="modal-call-modal">
                                        <a href=""><i class="far fa-smile"></i> See what is always included</a>
                                    </div>
                                    <!-- modal ends -->

                                </div>

                                <div id="modal-book-questions">
                                    <div id="modal-question-title">
                                        <h3>Questions?</h3>
                                    </div>

                                    <!-- question main starts -->
                                    <div id="modal-question-main">
                                        <div class="faq-qa" style="display: flex;">

                                            <a id="faq-q1" href="#faq-ans1" data-bs-toggle="collapse" style="font-size: 16px;color:#565656;">

                                                <div style="display: flex;">
                                                    <div>
                                                        <img id="faq-ar-1" class="faq_arrow_img" src="/img/faq/right-arrow.png" alt="">
                                                    </div>

                                                    <p>Which Helperland professional will come to my place?</p>
                                                </div>

                                            </a>
                                        </div>
                                        <div id="faq-ans1" class="collapse faq-ans">
                                            Helperland has a vast network of experienced, top-rated cleaners. Based on the time and date of your request, we work to assign the best professional available.Like working with a specific pro? Add them to your Pro Team from the mobile app and they'll be requested first for all future bookings.You will receive an email with details about your professional prior to your appointment.
                                        </div>

                                        <div class="faq-qa" style="display: flex;">

                                            <a id="faq-q2" href="#faq-ans2" data-bs-toggle="collapse" style="font-size: 16px;color:#565656;">
                                                <div style="display:flex">
                                                    <div>
                                                        <img id="faq-ar-2" class="faq_arrow_img" src="/img/faq/right-arrow.png" alt="">
                                                    </div>
                                                    <p>What's included in a cleaning?</p>
                                                </div>

                                            </a>
                                        </div>
                                        <div id="faq-ans2" class="collapse faq-ans">
                                            Bedroom, Living Room & Common Areas,Bathrooms,Kitchen,Extras
                                        </div>

                                        <div class="faq-qa" style="display: flex;">

                                            <a id="faq-q3" href="#faq-ans3" data-bs-toggle="collapse" style="font-size: 16px;color:#565656;">
                                                <div style="display:flex">
                                                    <div>
                                                        <img id="faq-ar-3" class="faq_arrow_img" src="/img/faq/right-arrow.png" alt="">
                                                    </div>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</p>
                                                </div>

                                            </a>
                                        </div>
                                        <div id="faq-ans3" class="collapse faq-ans">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt, fringilla ante vitae, dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor.
                                        </div>

                                        <div id="for-more-help">
                                            <a href="">For more help</a>
                                        </div>

                                    </div>
                                    <!-- question main ends -->

                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div> -->
                </div>
            </div>
        </div>

        <!-- PS modal ends -->
        <!-- newsletter starts -->
        <div class="text-center" id="news">
            <h4 class="">GET OUR NEWSLETTER</h4>
            <form action="">
                <input type="text" name="email" placeholder="YOUR EMAIL" class="rounded-pill email">
                <input type="submit" name="submit" class="rounded-pill submit-btn">
            </form>
        </div>
        <!-- newsletter ends -->


    </main>
    <!-- main ends -->
    <!-- footer starts -->

    @await Html.PartialAsync("loggedout")

    <footer style="background-color: #111111;" id="faqfooter">

        <div class="d-flex flex-wrap justify-content-center justify-content-md-between align-items-center py-3 footerborder" id="faq-footer">
            <!-- logo starts -->
            <div>
                <img width="100px" src="/img/white-logo-transparent-background.png" alt="">
            </div>
            <!-- logo ends -->
            <!-- links starts -->
            <div class="d-flex flex-column flex-md-row flex-nowrap flex-md-wrap text-center justify-content-center" style="color: white;" id="faq-footer-links">
                <a href="home.html">HOME</a>
                <a href="about.html">ABOUT</a>
                <a href="home.html#home-customer-say">TESTIMONIALS</a>
                <a href="faq.html">FAQS</a>
                <a href="#">INSURRANCE POLICY</a>
                <a href="#">IMPRESSUM</a>
            </div>
            <!-- links ends -->
            <!-- fb insta starts -->
            <div>
                <a class="px-2" href="#"><i style="color: white;" class="fab fa-facebook-f"></i></a>

                <a class="px-2" href="#"><i style="color: white;" class="fab fa-instagram"></i></a>
            </div>
            <!-- fb insta ends -->
        </div>


        <!-- privacy policy starts -->
        <div class="text-center mb-0 py-2" style="position:relative; color:#9BA0A3; background-color: #111111">
            <p class="mb-0 py-2 d-inline" style="color: #9BA0A3;">
                &copy;2018 Helperland. All rights reserved.
                <a href="#" style="color: #9BA0A3;">Terms and Conditions </a>|
                <a href="#" style="color: #9BA0A3;"> Privacy Policy</a>
            </p>
        </div>
        <!-- privacy policy ends -->

    </footer>
    <!-- footer ends -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/BookService.js">
       
    </script>

   
</body>
</html>

