@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- modal div -->
<div class="modal" tabindex="-1" id="admin-sr-edit-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h2>Edit Service Requests</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger d-none mt-3" id="editModalAlert" role="alert">
                </div>

                <form action="">
                    <div id="modal-form">
                        <div id="modal-datetime">
                            <div>
                                <label for="modal-date">Date</label>
                                <div id="mdate">
                                    <span><img src="~/img/admin-calendar-blue.png"></span>
                                    <input type="text" name="modaldate" id="admin-sr-mdate" placeholder="Date" onblur="if(this.value){this.type='date';}else{this.type='text';}" onfocus="this.type='date'">
                                </div>
                            </div>
                            <div>
                                <label for="modal-time">Time</label>
                                <select name="modal-time" id="modal-time">
                                    <option value="00:30:00">00:30</option>
                                    <option value="01:00:00">01:00</option>
                                    <option value="01:30:00">01:30</option>
                                    <option value="02:00:00">02:00</option>
                                    <option value="02:30:00">02:30</option>
                                    <option value="03:00:00">03:00</option>
                                    <option value="03:30:00">03:30</option>
                                    <option value="04:00:00">04:00</option>
                                    <option value="04:30:00">04:30</option>
                                    <option value="05:00:00">05:00</option>
                                    <option value="05:30:00">05:30</option>
                                    <option value="06:00:00">06:00</option>
                                    <option value="06:30:00">06:30</option>
                                    <option value="07:00:00">07:00</option>
                                    <option value="07:30:00">07:30</option>
                                    <option value="08:00:00">08:00</option>
                                    <option value="08:30:00">08:30</option>
                                    <option value="09:00:00">09:00</option>
                                    <option value="09:30:00">09:30</option>
                                    <option value="10:00:00">10:00</option>
                                    <option value="10:30:00">10:30</option>
                                    <option value="11:00:00">11:00</option>
                                    <option value="11:30:00">11:30</option>
                                    <option value="12:00:00">12:00</option>

                                    <option value="12:30:00">12:30</option>
                                    <option value="13:00:00">13:00</option>
                                    <option value="13:30:00">13:30</option>
                                    <option value="14:00:00">14:00</option>
                                    <option value="14:30:00">14:30</option>
                                    <option value="15:00:00">15:00</option>
                                    <option value="15:30:00">15:30</option>
                                    <option value="16:00:00">16:00</option>
                                    <option value="16:30:00">16:30</option>
                                    <option value="17:00:00">17:00</option>
                                    <option value="17:30:00">17:30</option>
                                    <option value="18:00:00">18:00</option>
                                    <option value="18:30:00">18:30</option>
                                    <option value="19:00:00">19:00</option>
                                    <option value="19:30:00">19:30</option>
                                    <option value="20:00:00">20:00</option>
                                    <option value="20:30:00">20:30</option>
                                    <option value="21:00:00">21:00</option>
                                    <option value="21:30:00">21:30</option>
                                    <option value="22:00:00">22:00</option>
                                    <option value="22:30:00">22:30</option>
                                    <option value="23:00:00">23:00</option>
                                    <option value="23:30:00">23:30</option>
                                    <option value="00:00:00">00:00</option>

                                </select>
                            </div>
                        </div>


                        <h3>Service Address</h3>
                        <div id="modal-service">
                            <div>
                                <label for="modal-street">Street Name</label>
                                <input type="text" name="modal-street" id="modal-street">
                            </div>
                            <div>
                                <label for="modal-house">House No.</label>
                                <input type="text" name="modal-house" id="modal-house">
                            </div>
                            <div>
                                <label for="modal-postal">Postal Code</label>
                                <input type="text" name="modal-postal" id="modal-postal">
                            </div>
                            <div>
                                <label for="modal-city">City</label>
                                <input type="text" name="modal-city" id="modal-city" disabled>

                            </div>

                        </div>

                        <h3>Invoice Address</h3>
                        <div id="modal-invoice">
                            <div>
                                <label for="modal-street-invoice">Street Name</label>
                                <input type="text" name="modal-street-invoice" id="modal-street-invoice">
                            </div>
                            <div>
                                <label for="modal-house-invoice">House No.</label>
                                <input type="text" name="modal-house-invoice" id="modal-house-invoice">
                            </div>
                            <div>
                                <label for="modal-postal-invoice">Postal Code</label>
                                <input type="text" name="modal-postal-invoice" id="modal-postal-invoice">
                            </div>
                            <div>
                                <label for="modal-city-invoice">City</label>
                                <input type="text" name="modal-city-invoice" id="modal-city-invoice">

                            </div>

                        </div>

                        <h3>Why do you want to reschedule service request?</h3>
                        <textarea name="modal-why-edit" id="modal-why-edit" cols="30" rows="10" placeholder="Why do you want to reschedule service request?"></textarea>

                        <input type="hidden" id="adminSRIdModal" />
                        
                        <button type="button" id="admin-sr-updatebtn">Update</button>
                    </div>
                </form>
            </div>
        </div>


    </div>

</div>

<!-- modal div ends -->