@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div id="FavouriteProns" class="allPageMain tableContents d-none">
    <table id="blockCustomerTable">
        <thead class="d-none">
            <tr>
                <th>logo</th>
                <th>name</th>
                <th>button</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><img src="~/img/ship.jpg"/></td>
                <td>Kirpalsinh Sarvaiya</td>
                <td><button >Favourite</button>
                    <button >Block</button>
                </td>
            </tr>

        </tbody>

    </table>
</div>