@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<nav id="faqnav" class="navbar navbar-expand-lg">

    <a asp-controller="Home" asp-action="Index"><img src="/img/white-logo-transparent-background.png" id="logo-faq" alt=""></a>

    @if (TempData["name"] == null)
    {
        <button style="color:white; margin-right: 15px;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
    }
    else
    {
        <div>
            <div id="upcoming-notification-collapse">
                <a class="nav-link nav-padding upcoming-notify" href="#">
                    <img src="/img/upcomingService/icon-notification.png" alt="">
                    <span id="notification-dot">3</span>
                </a>

            </div>

            <button style="color:white; margin-right: 15px;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

        </div>

    }


    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ms-auto" id="faq-nav">
            @if (TempData["name"] != null)
            {
                if (TempData["userType"] == "1")
                {

                    <div id="upcoming-menu-collapse">
                    <li id="welcomeName">
                        Welcome,
                        <span id="SPname">@TempData["name"]</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-padding" asp-controller="CustomerPage" asp-action="CustServiceHistory">Dashbord</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-padding" asp-controller="CustomerPage" asp-action="CustServiceHistory">Service History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-padding" href="#">Service Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-padding" href="#">Favourite Pros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-padding" href="#">Invoices</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link nav-padding navMySettingLink" asp-controller="CustomerPage" asp-action="CustServiceHistory" asp-route-mySetting="true">My Setting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-padding" asp-controller="Signup" asp-action="Logout">Logout</a>
                    </li>
            </div>
        }
        else if (TempData["userType"] == "2")
        {
            <div id="upcoming-menu-collapse">
                <li id="welcomeName">
                    Welcome,
                    <span id="SPname">@TempData["name"]</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-padding" href="#">Dashbord</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-padding" href="#">New Service Requests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-padding" href="#">Upcoming Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-padding" href="#">Service Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-padding" href="#">Service History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-padding" href="#">My Ratings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-padding" href="#">Block Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-padding" asp-controller="ServicePro" asp-action="SPUpcomingService" asp-route-mySetting="true">My Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-padding" asp-controller="Signup" asp-action="Logout">Logout</a>
                </li>
            </div>
        }
    }

            @if (TempData["name"] != null)
            {
                if (TempData["userType"] == "1")
                {
                    <li class="nav-item">
                        <a class="nav-link rounded-pill nav-padding greenlink" aria-current="page" asp-controller="CustomerPage" asp-action="BookService">Book a Cleaner</a>
                    </li>
                }
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link rounded-pill nav-padding greenlink" aria-current="page" asp-controller="CustomerPage" asp-action="BookService">Book a Cleaner</a>
                </li>
            }

            <li class="nav-item">
                <a class="nav-link nav-padding rounded-pill" asp-controller="Home" asp-action="Prices">Price & Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-padding" href="#">Warranty</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-padding" href="#">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-padding" asp-controller="Home" asp-action="Contact">Contact</a>
            </li>
            @if (TempData["name"] == null)
            {
                <li class="nav-item">
                    <a class="nav-link rounded-pill nav-padding greenlink" role="button" asp-controller="Home" asp-action="Index" asp-route-loginModal="true">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link border-1 rounded-pill nav-padding greenlink" asp-controller="Signup" asp-action="Becomehelper">Become a Helper</a>
                </li>

            }
            else
            {
                <li class="nav-item" id="upcom-notify">
                    <div id="upcoming-notification">
                        <a class="nav-link nav-padding upcoming-notify" href="#">
                            <img src="/img/upcomingService/icon-notification.png" alt="">
                            <span id="notification-dot">3</span>
                        </a>

                    </div>

                </li>
                <li class="nav-item dropdown nav-padding" id="upcomingUser">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/img/upcomingService/user.png" alt="">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li id="userWelcomeName">
                            Welcome,
                            <br />
                            <span id="UsernameNav">@TempData["name"]</span>
                        </li>
                        @if (TempData["userType"] == "1")
                        {
                            <li><a class="dropdown-item" asp-controller="CustomerPage" asp-action="CustServiceHistory">My Dashbord</a></li>
                            <li><a class="dropdown-item navMySettingLink" asp-controller="CustomerPage" asp-action="CustServiceHistory" asp-route-mySetting="true">My Setting</a></li>
                        }
                        else if (TempData["userType"] == "2")
                        {
                            <li><a class="dropdown-item" asp-controller="ServicePro" asp-action="SPUpcomingService">My Dashbord</a></li>
                            <li><a class="dropdown-item navMySettingLink" asp-controller="ServicePro" asp-action="SPUpcomingService" asp-route-mySetting="true">My Setting</a></li>
                        }
                        <li><a class="dropdown-item" asp-controller="Signup" asp-action="Logout">Logout</a></li>
                    </ul>
                </li>

            }

            </ul>

            </div>
        </nav>
