@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- footer starts -->
<footer style="background-color: #111111;" id="faqfooter">

    <div class="d-flex flex-wrap justify-content-center justify-content-md-between align-items-center py-3 footerborder" id="faq-footer">
        <!-- logo starts -->
        <div>
            <img width="100px" src="/img/white-logo-transparent-background.png" alt="">
        </div>
        <!-- logo ends -->
        <!-- links starts -->
        <div class="d-flex flex-column flex-md-row flex-nowrap flex-md-wrap text-center justify-content-center" style="color: white;" id="faq-footer-links">
            <a asp-controller="Home" asp-action="Index">HOME</a>
            <a asp-controller="Home" asp-action="About">ABOUT</a>
            <a href="#">TESTIMONIALS</a>
            <a asp-controller="Home" asp-action="Faq">FAQS</a>
            <a href="#">INSURRANCE POLICY</a>
            <a href="#">IMPRESSUM</a>
        </div>
        <!-- links ends -->
        <!-- fb insta starts -->
        <div> 
            <a class="px-2" href="#"><i style="color: white;" class="fab fa-facebook-f"></i></a>

            <a class="px-2" href="#"><i style="color: white;" class="fab fa-instagram"></i></a>
        </div>
        <!-- fb insta ends -->
    </div>


    <!-- privacy policy starts -->
    <div class="text-center mb-0 py-2" style="position:relative; color:#9BA0A3; background-color: #111111">
        <p class="mb-0 py-2 d-inline" style="color: #9BA0A3;">
            &copy;2018 Helperland. All rights reserved.
            <a href="#" style="color: #9BA0A3;">Terms and Conditions </a>|
            <a href="#" style="color: #9BA0A3;"> Privacy Policy</a>
        </p>
    </div>
    <!-- privacy policy ends -->

</footer>
<!-- footer ends -->
