@model Helperland.Models.LoginUser
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- login modal strats -->
<div class="modal popupsLogin" tabindex="-1" id="loginModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login to your account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <div class="@TempData["showAlert"] alert-danger alert-dismissible fade" role="alert" id="loginFailAlert">
                    @TempData["loginFail"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <form asp-controller="Signup" asp-action="Login">

                    <input type="text" asp-for="Email" id="loginEmail" placeholder="Email" required><span><img src="" alt=""></span>
                    <input type="text" asp-for="Password" id="loginPwd" placeholder="Password" required><span><img src="" alt=""></span>

                    <input type="checkbox" asp-for="Remember" id="loginCheck" placeholder="Remember me"> <label for="loginCheck">Remember me</label>

                    <button type="submit" id="loginButton" >Login</button>

                </form>

                <!-- forget pwd and create account -->
                <div id="forgetPwdDiv">
                    <a href="#" role="button" id="mailSended" data-bs-toggle="modal" data-bs-target="#forgetPwdModal">Forgot Password?</a>
                    <p>Don't have an account? <a role="button" asp-controller="Signup" asp-action="Signup">Create an account</a></p>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- login modal ends -->
