@model Helperland.ViewModels.ScheduleService
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<form asp-controller="CustomerPage" asp-action="ScheduleService" id="scheduleform" class="setupform">
    <div id="form2">

        <div class="alert alert-danger d-none mt-3" id="scheduleServiceAlert" role="alert">
        </div>

        <!-- datetime and how long starts -->
        <div id="datetimeAndHowlong">
            <!-- date and time starts -->
            <div id="book-datetime">
                <h4>When do you need the cleaner?</h4>
                <span id="fdate">
                    <input type="date" id="admin-sr-fdatepicker" onchange="writefDate();">
                    <input type="text" asp-for="Date" id="admin-sr-fdate" placeholder="Enter Date" onblur="if(this.value){this.type='date';}else{this.type='text';}" onfocus="this.type='date'" onchange="paymentbill_making()">
                    <span asp-validation-for="Date"></span>
                </span>

                <select asp-for="Time" id="startingtime" onchange="paymentbill_making()">
                    <option value="1:00:00 PM" selected>1:00 PM</option>
                    <option value="2:00:00 PM">2:00 PM</option>
                    <option value="3:00:00 PM">3:00 PM</option>
                    <option value="4:00:00 PM">4:00 PM</option>
                    <option value="5:00:00 PM">5:00 PM</option>
                </select>

                <span asp-validation-for="Time"></span>
            </div>
            <!-- date and time ends -->
            <!-- how long starts -->
            <div id="">
                <h4>How long do you need your cleaner to stay?</h4>
                <select asp-for="Duration" id="servicehours" onchange="paymentbill_making()">
                    <option value="1" selected>1.0 Hrs</option>
                    <option value="2">2.0 Hrs</option>
                    <option value="3">3.0 Hrs</option>
                    <option value="4">4.0 Hrs</option>
                    <option value="5">5.0 Hrs</option>
                </select>
                <span asp-validation-for="Duration"></span>
            </div>
            <!-- how long ends -->
        </div>
        <!-- datetime and how long ends -->

        <h4>Extra services</h4>
        <div id="custom-checkboxes">
            <div class="checkbox">
                <input type="checkbox" asp-for="extra.Cabinet" id="insideCabinetCheck" class="htmlcheckbox" onclick="onInsideCabinet();" onchange="paymentbill_making()">
                <label for="insideCabinetCheck" onclick="onInsideCabinet();"><img src="/img/3.png" id="insideCabinetImg" alt=""></label>
                <p>inside cabinets</p>
            </div>

            <div class="checkbox">
                <input type="checkbox" id="insideFridgeCheck" asp-for="extra.Fridge" class="htmlcheckbox" onclick="onInsideFridge();" onchange="paymentbill_making()">
                <label for="insideFridgeCheck"><img src="/img/5.png" id="insideFridgeImg" alt="" onclick="onInsideFridge();"></label>
                <p>inside Fridge</p>
            </div>

            <div class="checkbox">
                <input type="checkbox" asp-for="extra.Oven" id="insideOvenCheck" class="htmlcheckbox" onclick="onInsideOven();" onchange="paymentbill_making()">
                <label for="insideOvenCheck" onclick="onInsideOven();"><img src="/img/4.png" id="insideOvenImg" alt=""></label>
                <p>inside Oven</p>
            </div>

            <div class="checkbox">
                <input type="checkbox" id="laundryCheck" asp-for="extra.laundry" class="htmlcheckbox" onclick="onLaundry();" onchange="paymentbill_making()">
                <label for="laundryCheck" onclick="onLaundry();"><img src="/img/2.png" id="laundryImg" alt=""></label>
                <p>Laundry Wash & Dry</p>
            </div>

            <div class="checkbox">
                <input type="checkbox" id="interiorCheck" asp-for="extra.window" class="htmlcheckbox" onclick="onInterior();" onchange="paymentbill_making()">
                <label for="interiorCheck" onclick="onInterior();"><img src="/img/1.png" id="interiorImg" alt=""></label>
                <p>interior Windows</p>
            </div>
        </div>

        <h4>Comments</h4>

        <textarea asp-for="Comments" id="comments" placeholder="Comments..." cols="30" rows="10"></textarea>

        <div id="ihavepet">
            <input type="checkbox" asp-for="havePet" id="havepet">
            <span>I have pets at home</span>
        </div>


        <button id="form2continue" type="button" onclick="scheduleSubmit()">continue</button>


    </div>


</form>


