@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



<div id="SPServiceHistory" class="allPageMain tableContents" style="display: none">
    <div class="customer-page-title-export">
        <div class="customer-page-title">
            <h2>
                Service History
            </h2>
        </div>
        <div id="export-btn">
            <a href="#" role="button" id="export">Export</a>
        </div>
    </div>
    <table id="SPServiceHistoryTable">
        <thead>
            <tr>
                <th>
                    Service ID
                </th>
                <th>
                    Service Date
                </th>
                <th>
                    Customer Details
                </th>

            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    323436
                </td>
                <td>
                    <div>
                        <span><img src="img/upcomingService/calendar2.png" alt=""></span>
                        <span class="upcoming-date"><b>09/04/2018</b></span>
                    </div>
                    <div>
                        <span><img src="img/upcomingService/timer.png" alt=""></span> <span class="upcoming-time">12:00-18:00</span>
                    </div>
                </td>
                <td>
                    <div>David Bough</div>
                    <div><span><img src="img/upcomingService/home.png" alt=""></span> <span class="upcoming-address">Mustrestrabe 5, 12345 Bonn</span> </div>
                </td>

            </tr>


        </tbody>
    </table>
</div>