@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div id="SPRatings" class="allPageMain tableContents d-none">
    <div class="customer-page-title-export">
        <div class="customer-page-title">
            <h2>
                My Ratings
            </h2>
        </div>
        <div id="export-btn">
            <a href="#" role="button" id="export">Export</a>
        </div>
    </div>
    <table id="SPRatingsTable">
        <thead class="d-none">
            <tr>
                <th>
                    Service ID
                </th>
                <th>
                    Service Date
                </th>
                <th>
                    ratings
                </th>
                <th>
                    Comment
                </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    <p>323436</p>
                    <p>Samay Nandaniya</p>
                </td>
                <td>
                    <div>
                        <span><img src="img/upcomingService/calendar2.png" alt=""></span>
                        <span class="upcoming-date"><b>09/04/2018</b></span>
                    </div>
                    <div>
                        <span><img src="img/upcomingService/timer.png" alt=""></span> <span class="upcoming-time">12:00-18:00</span>
                    </div>
                </td>
                <td>
                    <p><b>Ratings</b></p>

                    <div class="d-flex">
                        <div class="spStars">
                            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                        </div>

                        <div><span class="ms-2">Very Good</span></div>
                    </div>
                </td>

                <td>
                    <p><b>Comments:</b></p>
                    <p></p>
                </td>

            </tr>

            <tr>
                <td>
                    <p>323436</p>
                    <p>Samay Nandaniya</p>
                </td>
                <td>
                    <div>
                        <span><img src="img/upcomingService/calendar2.png" alt=""></span>
                        <span class="upcoming-date"><b>09/04/2018</b></span>
                    </div>
                    <div>
                        <span><img src="img/upcomingService/timer.png" alt=""></span> <span class="upcoming-time">12:00-18:00</span>
                    </div>
                </td>
                <td>
                    <p><b>Ratings</b></p>

                    <div class="d-flex">
                        <div class="spStars">
                            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                        </div>

                        <div><span class="ms-2">Very Good</span></div>
                    </div>
                </td>

                <td>
                    <p><b>Comments:</b></p>
                    <p></p>
                </td>

            </tr>

        </tbody>
    </table>
</div>
