
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div id="ServiceSchedule" class="tableContents">

    <div class="ScheduleServiceLabels">
        <div class="ScheduleLabel">
            <div class="GrayLabel"></div><div>Upcoming</div>
        </div>
        <div class="ScheduleLabel">
            <div class="GreenLabel"></div><div>completed</div>
        </div>
    </div>

    <div id='calendar'></div>

</div>