
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div id="blockCustomer" class="allPageMain tableContents d-none">
    <div class="allCustomerCards">
        <div class="customerCard">
            <div>
                <img src="/img/cap.jpg" alt="">
            </div>
            <p>Samay Nandaniya</p>
            <div>
                <button type="button" class="blockBtn">Block</button>
            </div>
        </div>

        <div class="customerCard">
            <div>
                <img src="/img/cap.jpg" alt="">
            </div>
            <p>Samay Nandaniya</p>
            <div>
                <button type="button" class="blockBtn">Block</button>
            </div>
        </div>

        <div class="customerCard">
            <div>
                <img src="/img/cap.jpg" alt="">
            </div>
            <p>Samay Nandaniya</p>
            <div>
                <button type="button" class="blockBtn">Block</button>
            </div>
        </div>

    </div>
</div>